<div class="cv-experience">
                            <div class="cv-experience-company-logo{% if previous.organisation == experience.organisation %} cv-experience-company-logo--empty{% endif %}">{% if previous.organisation != experience.organisation %}
                                {%- if experience.organisation_logo contains "/" %}{% assign logo_src = experience.organisation_logo | prepend: "/assets/images" %}{% else %}{% assign logo_src = experience.organisation_logo | prepend: "/assets/images/cv/experience/" %}{% endif -%}
                                {% if experience.organisation_link %}<a href="{{ experience.organisation_link }}" target="_blank" title="{{ experience.organisation }}">{% endif %}{% if experience.organisation_logo_dark %}{% if experience.organisation_logo_dark contains "/" %}{% assign logo_dark_src = experience.organisation_logo_dark | prepend: "/assets/images" %}{% else %}{% assign logo_dark_src = experience.organisation_logo_dark | prepend: "/assets/images/cv/experience/" %}{% endif %}<img class="cv-logo-day" src="{{ logo_src }}" alt="{{ experience.organisation }} logo"><img class="cv-logo-night" src="{{ logo_dark_src }}" alt="{{ experience.organisation }} logo">{% else %}<img src="{{ logo_src }}" alt="{{ experience.organisation }} logo">{% endif %}{% if experience.organisation_link %}</a>{% endif %}
                            {% endif %}</div>
                            <div class="cv-experience-company-main">{% if previous.organisation != experience.organisation %}
                                <div class="cv-experience-company-metadata">
                                    <div class="cv-experience-company-metadata-name">
                                        <h3 class="cv-experience-company-metadata-name-current">{% if experience.organisation_link %}<a href="{{ experience.organisation_link }}" target="_blank" title="{{ experience.organisation }}">{% endif %}{{ experience.organisation }}{% if experience.organisation_link %}</a>{% endif %}</h3>{% if experience.organisation_extra %}
                                        <span class="cv-experience-company-metadata-name-extra">{{ experience.organisation_extra }}</span>{% endif %}
                                    </div>
                                    {% if experience.location %}<div class="cv-experience-company-metadata-location"><img src="/assets/images/icons/icon-location.svg" alt="Location icon" class="cv-experience-company-metadata-location-icon">{{ experience.location }}</div>{% endif %}
                                </div>{% endif %}
                                <div class="cv-experience-job">
                                    <div class="cv-experience-job-metadata">
                                        <div class="cv-experience-job-metadata-title"><h4>{{ experience.position }}</h4></div>
                                        <div class="cv-experience-job-metadata-dates">{{ experience.date_range }}</div>
                                    </div>
                                    <div class="cv-experience-job-description">
                                        {{ experience.content | replace: "
", "" | replace: "  ", "" }}
                                    </div>
                                </div>
                            </div>
                        </div>