    <div class="list-item">
                                    <div class="list-item-icon">
                                        {% if item.link %}<a href="{{ item.link }}" target="_blank" title="{{ item.name }}"{% if item.link_nofollow %} rel="nofollow"{% endif %}>{% endif %}<img src="/assets/images{{ item.icon }}" alt="{{ item.name }} logo">{% if item.link %}</a>{% endif %}
                                    </div>
                                    <div class="list-item-main">
                                        <div class="list-item-main-header">
                                            <h3>{% if item.link %}<a href="{{ item.link }}" target="_blank" title="{{ item.name }}"{% if item.link_nofollow %} rel="nofollow"{% endif %}>{% endif %}{{ item.name }}{% if item.link %}</a>{% endif %}</h3>
                                            {%- if item.location %}<div class="list-item-main-header-location">{{ item.location }}</div>{% endif %}
                                            {%- if item.name_extra %}<h4>{{ item.name_extra }}</h4>{% endif %}
                                            {%- if item.date_range %}<div class="list-item-main-header-dates">{{ item.date_range }}</div>{% endif %}
                                        </div>
                                        {%- if item.content %}
                                        <div class="list-item-main-content">
                                            {{ item.content }}                                  </div>{% endif %}
                                    </div>
                                </div>