<div class="cv-vertical">
                                    {% if vertical.link %}<a href="{{ vertical.link }}" target="_blank" title="{{ vertical.name }}">{% endif %}<img src="/assets/images/cv/verticals/{{ vertical.icon }}" alt="{{ vertical.name }} icon">{% if vertical.link %}</a>{% endif %}
                                    <span>{% if vertical.link %}<a href="{{ vertical.link }}" target="_blank" title="{{ vertical.name }}">{% endif %}{{ vertical.name }}{% if vertical.link %}</a>{% endif %}</span>
                                </div>