<!--noindex-->
            <div id="cookies" class="robots-nocontent" data-nosnippet="true">
                <div class="cookies-speech-bubble">
                    <img class="cookies-speech-bubble-head" src="/assets/images/cookie-monster-says.svg" alt="Cookie Monster asking a question">
                    <div class="cookies-speech-bubble-contents">
                        This site uses <a href="https://support.google.com/analytics/answer/11397207" target="_blank">Google Analytics</a> cookies. Will you enjoy these cookies with me?
                    </div>
                </div>
                <div class="cookies-options">
                    <button id="cookies-decline">🚫 No thanks</button><button id="cookies-accept" tabindex="0">🍪 Yes! nomnom</button>
                </div>
            </div>
            <!--/noindex-->