<div class="header-avatar">
                    <div class="header-avatar-border">
                        <a href="/" class="header-home-link" title="Christian Brown homepage"><img src="/assets/images/avatar.jpg" alt="{{ site.site_image_name }}"></a>
                    </div>
                </div>
                <div class="header-data">
                    <h1 class="mt-2"><a href="/" class="header-home-link" title="Christian Brown homepage">{{ site.header_name }}</a></h1>
                    <p><strong id="header-job-title">{{ site.header_job_title }}</strong></p>
                    <p><img src="/assets/images/icons/icon-location.svg" alt="Location icon" class="location-icon"> <span id="header-location" data-location="{{ site.header_location }}">{{ site.header_location }}</span></p>{%- if page.menu %}
                    <nav>{% if page.home_temp_link %}<a href="/smart-home" id="cv-home-temp" class="cv-home-temp" title="Christian Brown's smart home" rel="nofollow" hidden></a>{% endif %}{% for nav in page.menu %}
                        {% if page.menu.first != nav -%}&nbsp;&nbsp;&nbsp;{%- endif -%}<a href="{{ nav.link }}"{% assign firstchar = nav.link | slice: 0 %}{% if firstchar != '/' %} target="_blank" rel="noopener noreferrer"{% endif %} title="{{ nav.text }}" id="cv-menu-{{ nav.icon }}"><img src="/assets/images/icons/icon-{{ nav.icon }}.svg" alt="{{ nav.icon_alt }}" class="header-data-links-icon"> <span id="nav-text-{{ nav.icon }}">{{ nav.text }}</span></a>{% endfor %}
                    </nav>{% endif %}
                </div>
