<!--noindex-->
            <div id="cookies" class="robots-nocontent" data-nosnippet="true">
                <div class="cookies-text">
                    Are you okay this site uses <a href="https://support.google.com/analytics/answer/11397207" target="_blank">Google Analytics</a> cookies?
                </div>
                <div class="cookies-options">
                    <button id="cookies-decline">🚫 No</button><button id="cookies-accept" tabindex="0">🍪 Yes</button>
                </div>
            </div>
            <!--/noindex-->