
$font-serif: 'WebGeorgia', serif;
$font-sans-serif: 'WebProductSans', sans-serif;

$colour-accent: #75923C;
$colour-grayscale-1: #AAA;
$colour-grayscale-2: #222;
$colour-grayscale-3: #222;
$colour-grayscale-4: #222;
$colour-error: orange;
