
div.container div.cv-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 5px;
}

div.container div.cv-section h2 {
    color: #75923C;
    font-size: 18pt;
    font-family: 'WebGeorgia';
    text-transform: lowercase;
}

div.container div.cv-section div.cv-experience {
    border-top: 1px solid #CECECE;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.container p.cv-experience-date-range {
    font-style: italic;
}

div.container p.cv-experience-location strong {
    color: #404040;
}

div.container div.cv-section div.cv-experience div.cv-experience-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    column-gap: 10px;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-logo {
    width: 60px;
    height: 60px;
    display : flex;
    align-items : center;
    justify-content: center;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-logo img {
    max-width: 50px;
    max-height: 30px;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-logo img.logo-wide {
    max-width: 60px;
    max-height: 50px;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-metadata {
    flex-grow: 1;
    min-width: 350px;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-metadata h3 {
    color: #404040;
    font-size: 13pt;
    font-weight: bold;
}

div.container div.cv-section div.cv-experience div.cv-experience-details div.cv-experience-metadata * {
    margin-bottom: 0;
}

div.container div.cv-section div.cv-experience div.cv-experience-description {

}
