---
---

@import 'vars';
@import 'fonts';

@page {
    size: A4 portrait;
    margin: 1cm 1cm 1cm 1cm;
    // @bottom-right-corner {
    //    color: $colour-grayscale-1;
    //    content: "page " counter(page);
    //    font-family: $font-sans-serif;
    //    font-size: 1em;
    //    margin-bottom: 6em;
    //    margin-right: 6em;
    //    text-align: right;
    // }
}

div.container {
    main {
        div#lead {
            font-size: 1.2em;
            margin-bottom: 1em;
        }
        div#cv {
            @media print {
                .cv-section-education {
                    margin-bottom: 6em;
                }
            }
            div#cv-main {
                flex: 3;
                min-width: 28em;
            }
            div#cv-side {
                h3 {
                    font-size: 1.1em;
                }
                flex: 1;
            }
            align-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        div.cv-section {
            h2 {
                border-bottom: 1px solid $colour-grayscale-1;
                color: $colour-accent;
                font-family: $font-serif;
                margin-bottom: 0.5em;
                padding-bottom: 0.2em;
                text-transform: lowercase;
                width: 100%;
            }
            align-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: left;
            padding: 0 1em 1em;
            width: 100%;
        }
        div#cv-side-projects {
            div.cv-side-project {
                div.cv-side-project-logo {
                    img {
                        width: 1.6em;
                    }
                    min-width: 2.5em;
                    text-align: center;
                }
                div.cv-side-project-details {
                    h3 {
                        a {
                            color: $colour-grayscale-4;
                        }
                        color: $colour-grayscale-4;
                        font-weight: bold;
                        margin-bottom: 0.1em;
                        padding: 0;
                    }
                }
                align-content: flex-start;
                align-items: flex-start;
                column-gap: 0.2em;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
            }
            align-content: flex-start;
            align-items: flex-start;
            break-inside: avoid;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: left;
            padding-bottom: 0.5em;
            row-gap: 0.2em;
        }
        div#cv-verticals {
            div.cv-vertical {
                img {
                    max-height: 2.5em;
                    margin-bottom: 0.4em;
                }
                span, span a {
                    color: $colour-grayscale-4;
                    display: block;
                }
                display: block;
                width: 6em;
                text-align: center;
            }
            align-content: center;
            align-items: flex-start;
            break-inside: avoid;
            column-gap: 0.5em;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            row-gap: 1em;
            width: 100%;
        }
        div#cv-techs {
            div.cv-tech {
                img {
                    max-height: 2.3em;
                    max-width: 2.8em;
                    margin-bottom: 0.3em;
                }
                span, span a {
                    color: $colour-grayscale-4;
                    display: block;
                }
                display: block;
                min-width: 4.5em;
                text-align: center;
            }
            align-items: flex-end;
            column-gap: 1em;
            break-inside: avoid;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1em;
            row-gap: 1em;
            width: 100%;
        }
        div.cv-experience {
            div.cv-experience-details {
                div.cv-experience-logo, div.cv-experience-logo a {
                    img {
                        max-height: 2.2em;
                        max-width: 4.2em;
                    }
                    width: 4.2em;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
                div.cv-experience-metadata {
                    * {
                        color: $colour-grayscale-4;
                        margin-bottom: 0;
                    }
                    h3 {
                        font-weight: bold;
                        padding-top: 0;
                    }
                    p.cv-experience-date-range {
                        font-style: italic;
                    }
                    flex-basis: max-content;
                }
                column-gap: 0.6em;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                min-width: 25em;
                row-gap: 1em;
            }
            div.cv-experience-description {
                p, p > a {
                    font-size: 1.05rem;
                }
                p > a {
                    font-weight: normal;
                    color: $colour-grayscale-3;
                    &:hover {
                        color: $colour-accent;
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid $colour-grayscale-1;
                margin-bottom: 1em;
            }
            align-content: flex-start;
            align-items: flex-start;
            break-inside: avoid;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: left;
            row-gap: 0.5em;
            width: 100%;
        }
        div.cv-experience-side {
            div.cv-experience-details {
                div.cv-experience-logo, div.cv-experience-logo a {
                    img {
                        max-width: 2.5em;
                        max-height: 2.5em;
                    }
                    width: 3em;
                    display: flex;
                    justify-content: center;
                }
                div.cv-experience-title {
                    * {
                        color: $colour-grayscale-4;
                        margin-bottom: 0;
                    }
                    h3 {
                        padding-top: 0;
                        font-weight: bold;
                    }
                }
                align-content: flex-start;
                align-items: flex-start;
                column-gap: 0.2em;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            div.cv-experience-organisation {
                * {
                    color: $colour-grayscale-4;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
            div.cv-experience-location {
                * {
                    color: $colour-grayscale-2;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
            div.cv-experience-date-range {
                * {
                    font-style: italic;
                }
            }
            div.cv-experience-description {
                a {
                    font-weight: normal;
                    color: $colour-grayscale-3;
                    &:hover {
                        color: $colour-accent;
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid $colour-grayscale-1;
            }
            align-content: flex-start;
            align-items: flex-start;
            break-inside: avoid;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: left;
            row-gap: 0.5em;
            width: 100%;
        }
        div.footer-print {
            @media screen {
                display: none;
            }
            display: table-cell;
            height: 98vh;
            text-align: right;
            vertical-align: bottom;
            width: 100vw;
        }
    }
}
