---
---

@import 'vars';
@import 'fonts';

::-webkit-scrollbar {
    background: $colour-grayscale-3;
}
::-webkit-scrollbar-thumb {
    background: $colour-accent;
    -webkit-border-radius: 1em;
}

html {
    body {
        color-scheme: light;
        @media print {
            a {
                &#cv-menu-download {
                    display: none;
                }
                text-decoration: none !important;
            }
            color: $colour-grayscale-2;
        }
        * {
            color: $colour-grayscale-3;
        }
        h1 a,h1 a:hover {
            color: inherit;
        }
        a {
            color: $colour-accent;
        }
        p {
            a {
                font-weight: bold;
            }
            line-height: 1.1;
            font-size: 1.035em;
        }
        a:hover {
            color: $colour-grayscale-3;
            text-decoration: none;
        }
        h2 {
            color: $colour-grayscale-3;
        }
        h3 {
            padding-top: 10px;
            padding-bottom: 2px;
            color: $colour-grayscale-3;
            font-size: 1.5rem;
        }
        div.container {
            header {
                @media print {
                    break-inside: avoid;
                }
                div.header-avatar {
                    div.header-avatar-border {
                        img {
                            clip-path: circle();
                            width: 7em;
                            position: relative;
                            left: 0.15em;
                            top: 0.15em;
                        }
                        clip-path: circle();
                        width: 7.3em;
                        height: 7.3em;
                        background-color: $colour-accent;
                    }
                    @media print {
                        div.header-avatar-border {
                            background-color: $colour-accent !important;
                        }
                    }
                }
                div.header-data {
                    h1 {
                        span.alternate {
                            color: $colour-grayscale-2;
                        }
                        @media print {
                            span.alternate {
                                color: $colour-grayscale-1 !important;
                            }
                        }
                        margin-bottom: 0;
                        color: $colour-accent;
                        font-family: $font-serif;
                        font-size: 38pt;
                        text-transform: lowercase;
                    }
                    p {
                        * {
                            color: $colour-grayscale-4;
                        }
                        color: $colour-grayscale-4;
                        margin-bottom: 4px;
                    }
                    nav {
                        a {
                            img.header-data-links-icon {
                                vertical-align: middle;
                                height: 18px;
                            }
                            font-weight: bold;
                            color: $colour-grayscale-3;
                        }
                        a:hover {
                            color: $colour-accent;
                        }
                        width: 100%;
                        text-align: right;
                    }
                    min-height: 132px;
                    flex-grow: 1;
                }
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: flex-start;
                column-gap: 20px;
            }
            padding-top: 3em;
            padding-bottom: 10em;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin: auto;
            @media print {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        font-family: $font-sans-serif;
    }
    font-size: 10.85pt;
}
