---
---

@import 'vars';
@import 'fonts';
@import 'cookies';

$primary: $colour-accent;
$danger: $colour-error;
@import 'bootstrap/bootstrap';

html {
    body {
        .required .form-label:after {
            content: ' *';
            color: $colour-error;
        }
        * {
            color: $colour-grayscale-3;
        }
        h1 a, h1 a:hover {
            color: inherit;
        }
        a {
            color: $colour-accent;
        }
        p {
            a {
                font-weight: bold;
            }
            font-size: 1em;
        }
        a:hover {
            color: $colour-grayscale-3;
            text-decoration: none;
        }
        h2 {
            color: $colour-grayscale-3;
            font-size: 1.5em;
        }
        h3 {
            padding-top: 10px;
            padding-bottom: 2px;
            color: $colour-grayscale-3;
            font-size: 1.1em;
        }
        div.container {
            header {
                @media print {
                    break-inside: avoid;
                }
                div.header-avatar {
                    div.header-avatar-border {
                        img {
                            width: 7.3em;
                            border-radius: 50%;
                            border: 0.25em solid $primary;
                        }
                    }
                }
                div.header-data {
                    h1 {
                        span.alternate {
                            color: $colour-grayscale-2;
                        }
                        @media print {
                            span.alternate {
                                color: $colour-grayscale-1 !important;
                            }
                        }
                        margin-bottom: 0;
                        color: $colour-accent;
                        font-family: $font-serif;
                        font-size: 38pt;
                        // text-transform: lowercase;
                    }
                    p {
                        * {
                            color: $colour-grayscale-4;
                        }
                        color: $colour-grayscale-4;
                        margin-bottom: 4px;
                    }
                    nav {
                        @media print {
                            display: none;
                        }
                        a {
                            img.header-data-links-icon {
                                vertical-align: middle;
                                height: 18px;
                            }
                            font-weight: bold;
                            color: $colour-grayscale-3;
                        }
                        a:hover {
                            color: $colour-accent;
                        }
                        width: 100%;
                        text-align: right;
                    }
                    min-height: 132px;
                    flex-grow: 1;
                }
                align-content: flex-start;
                align-items: center;
                column-gap: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            display: flex;
            flex-direction: column;
            margin: auto;
            padding-bottom: 10em;
            padding-top: 3em;
            row-gap: 10px;
            @media print {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        @media print {
            div.container {
                a {
                    text-decoration: none !important;
                }
            }
            #cv-menu-download {
                display: none;
            }
            color: $colour-grayscale-2;
        }
        color-scheme: light;
        font-family: $font-sans-serif;
    }
    font-size: 10.85pt;
}
