---
---

@import 'vars';
@import 'fonts';

div.container {
    main {
        p {
            span#clock {
                font-weight: bold;
            }
            font-size: 1.1em;
        }
        div.smart-home-data {
            div {
                table {
                    tr {
                        td {
                            span {
                                &.primary {
                                    &.important {
                                        font-weight: bold;
                                    }
                                    &.muted {
                                        color: $colour-grayscale-1;
                                    }
                                    font-size: 1.2em;
                                }
                                &.secondary {
                                    &.muted {
                                        color: $colour-grayscale-1;
                                    }
                                    font-size: 1em;
                                    color: $colour-grayscale-2;
                                }
                                &.error {
                                    color: red;
                                }
                                display: block;
                            }
                            padding: 1em;
                            vertical-align: text-top;
                        }
                        td:last-child {
                            text-align: right;
                        }
                    }
                    tr:not(:first-child) {
                        border-top: 1px solid $colour-accent;
                    }
                    width: 100%;
                }
                flex: 1;
                min-width: 25em;
                margin-bottom: 1em;
            }
            align-items: flex-start;
            column-gap: 3em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        div.faq {
            p.question {
                font-weight: bold;
                font-style: italic;
            }
            img.how-it-works {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
            margin: auto;
        }
    }
}
